.my-custom-scrollbar {
    position: relative;
    height: 440px;
    overflow: auto;
}
.table-wrapper-scroll-y {
    display: block;
}
.header {
    position: sticky;
    top: 0;
}
.profile {
    display: inline-flex;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    position: relative;
}
.profile.profile-xl img {
    width: 250px;
    height: 250px;
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
